body{
	margin:0;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
#webmobile{
	position:fixed; 
	top:0px; 
	left:0px; 
	bottom:0px; 
	right:0px; 
	width:100%; 
	height:100%; 
	border:none; 
	margin:0; 
	padding:0; 
	overflow:hidden; 
	z-index:999999;
	display:none;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
#message{
	position: fixed;
	top:50%;
	text-align:center;
	width:100%;
}